{
  "presets": [
    [ "env", {
      "targets": {
        "browsers": [">5%", "not ie <= 10"],
        "modules": false
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "comments": false
}
