{
  "presets": [
    [ "env", {
      "targets": {
        "browsers": [">2%", "not ie < 9", "last 4 versions"],
        "modules": false
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "comments": false
}
