/**
 * Color codes for shapes
*/
$color-primary: #6ae974;
$color-accent: #3ad1d7;
$color-error: #f85242;
$color-bg: #49525e;
$color-bg-dark: #20242b;
$color-bg-darker: #1a1d23;
$color-bg-darkest: #131519;

/**
 * Color codes for regular fonts
*/
$color-font-body: #8a9ead;
$color-font-body-light: #66707a;
